body {
  background: #f2f2f2;
}



@font-face {
  font-family: 'Pacifico';
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}

#headline {
  font-family: 'Open Sans', sans-serif;
}

#headline h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}





.animato {
  animation-name: transitionIn;
  animation-duration: 1s;
}

@keyframes transitionIn{
  from{
      opacity: 0;
      transform: rotateX(-10deg);
  }

  to{
      opacity: 1;
      transform: rotateX(0);
  }
}




.nav-bar {
  position: relative;
  z-index: 3;
  text-align: center;
}

.nav-bar__nav {
  position: absolute;
  z-index: 2;
  right: 24px;
  display: none;
}

.nav-bar__nav:before {
  position: absolute;
  color: #1bbc9b;
  left: 12px;
  font-size: 0.9em;
}

@media only screen and (min-width: 450px) {
  .nav-bar__nav {
    display: inline-block;
    position: static;
    background: none;
  }
}

.nav-bar__nav ul {
  width: 200px;
  padding: 48px 0 0;
  margin: 0;
  list-style: none;
}

@media only screen and (min-width: 450px) {
  .nav-bar__nav ul {
    display: inline-block;
    width: auto;
    padding: 0;
  }
}

.nav-bar__nav ul li {
  display: block;
}

@media only screen and (min-width: 450px) {
  .nav-bar__nav ul li {
    display: inline-block;
  }
}

.nav-bar__nav ul a {
  display: block;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  font-family:verdana
}

.nav-bar__nav ul a:hover {
  opacity: 0.75;
}

.nav-bar {
  position: relative;
  font-size: 0.9em;
  height: 100%; 
}

nav {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 0 1.25em;
  text-decoration: none;
  color: black;
}





.texty {
  font-weight: 50;
  color: #000;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 17px;
}