.imaghe {
  padding: 0 15%;
  margin: 0;
  font-family: Monaco, monospace;
  font-weight: 100;
  font-size: 100%;
}
@media (max-width: 70em) {
  .imaghe {
    padding: 1rem;
  }
}

.table-fixed {
  table-layout: fixed;
}

.table {
  display: table;
  width: 100%;
}

@media (min-width: 50em) {
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
.table-cell__text {
  color: black;
  padding: 20px;
  text-align: left;
}
.table-cell__text h3 {
  font-size: 1.5rem;
}
.table-cell__text p {
  line-height: 1.8;
  font-size: 1rem;
}
@media (max-width: 70em) {
  .table-cell__text {
    padding: 3rem;
  }
  .table-cell__text h3 {
    font-size: 1rem;
  }
  .table-cell__text p {
    font-size: 0.6rem;
  }
}

.table.example2 {
  margin-top: 2rem;
  background: none;
}
.table.example2 .table-cell--bg {
  background-position: center center;
  background-size: cover;
}
@media (max-width: 40em) {
  .table.example2 .table-cell--bg {
    height: 300px;
  }
}
.table.example2 .table-cell__text {
  color: #52665f;
}

img {
  max-width: 100%;
  border: none;
}
