{% extends "layout.html" %}

{% block title %}About Me{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}


{% block content %}
<main class="container">
    <center><img src="http://dummyimage.com/700x400/ccc/fff" class="hero-image" /></center>

    <h3 class="align-center">About Me</h3>

    <p>I am this kind, caring, hilarious, generous, creative, nerdy, goofy, and all-around an incredible human.
    </p>
</main>
{% endblock %}