{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}


{% block content %}

<div class="center">

    <div class="gallery">
      <div class="image image--vertical"><a href="./image/v/43719198121586">
        <img class="lazy-image" data-src="/static/images/43719198121586.jpg"></a>
      </div>
      <div class="image image--vertical"><a href="./image/v/92936889293688">
        <img class="lazy-image" data-src="/static/images/92936889293688.jpg"/></a>
      </div>
      <div class="image image--vertical"><a href="./image/v/37414359483781">
        <img class="lazy-image" data-src="/static/images/37414359483781.jpg"/></a>
      </div>

      <div class="image image--big"><a href="./image/v/64843636447608">
        <img class="lazy-image" data-src="/static/images/64843636447608.jpg"/></a>
      </div>
      <div class="image"><a href="./image/v/18158968322237">
        <img class="lazy-image" data-src="/static/images/18158968322237.jpg"/></a>
      </div>
      <div class="image"><a href="./image/blank">
        <img class="lazy-image" data-src="https://dummyimage.com/600x400/000/fff"/></a>
      </div>

      <div class="image image--vertical"><a href="./image/v/86760708474896">
        <img class="lazy-image" data-src="/static/images/86760708474896.jpg"></a>
      </div>
      <div class="image image--vertical"><a href="./image/v/99991037259699">
        <img class="lazy-image" data-src="/static/images/99991037259699.jpg"/></a>
      </div>
      <div class="image image--vertical"><a href="./image/v/88972009564043">
        <img class="lazy-image" data-src="/static/images/88972009564043.jpg"/></a>
      </div>

      <div class="image image--vertical"><a href="./image/v/766672810207749">
        <img class="lazy-image" data-src="/static/images/766672810207749.jpg"></a>
      </div>
      <div class="image image--vertical"><a href="./image/v/60834201091292">
        <img class="lazy-image" data-src="/static/images/60834201091292.jpg"/></a>
      </div>
      <div class="image image--vertical"><a href="./image/v/901318310479581">
        <img class="lazy-image" data-src="/static/images/901318310479581.jpg"/></a>
      </div>

      <div class="image image--vertical"><a href="./image/v/46299221590019">
        <img class="lazy-image" data-src="/static/images/46299221590019.jpg"></a>
      </div>
      
      <div class="image image--big"><a href="./image/v/576884511105944">
        <img class="lazy-image" data-src="/static/images/576884511105944.jpg"/></a>
      </div>
      <div class="image image--vertical"><a href="./image/v/97852061158591">
        <img class="lazy-image" data-src="/static/images/97852061158591.jpg"/></a>
      </div>

    </div>
  </div>

  <script src="/static/home.js"></script>
{% endblock %}