{% extends "layout.html" %}

{% block title %}{{imagename}}{% endblock %}

{% block head %}
{% if alignment == 'v' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vertical.css') }}">
{% endif %}
{% endblock %}


{% block content %}

<br><br>
<div class="imaghe">
  <div class="table table-fixed">
    <div class="table-cell">
      <img src="/static/images/{{imagename}}.jpg">
    </div>
    <div class="table-cell table-cell__text">
      <h3>Side by side</h3>
      <p>content for the images </p>
    </div>
  </div>
  <br>

{% endblock %}