{% extends "gallery.html" %}

{% block title %}Portraits{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}


{% block extentiond %}

<div class="layout-gallery">

    <div class="gallery-container h-3 w-1">
        <div class="gallery-item">
            <div class="image"><a href="./image/v/5275754">
                    <img src="/static/images/5275754.jpg"></a>
            </div>
            <div class="text"></div>
        </div>
    </div>

    <div class="gallery-container h-3 w-1">
        <div class="gallery-item">
            <div class="image"><a href="./image/v/8715454">
                    <img src="/static/images/8715454.jpg"></a>
            </div>
            <div class="text"></div>
        </div>
    </div>

    <div class="gallery-container h-3 w-2">
        <div class="gallery-item">
            <div class="image"><a href="./image/v/8243147">
                    <img src="/static/images/8243147.jpg"></a>
            </div>
            <div class="text"></div>
        </div>
    </div>

    <div class="gallery-container h-4 w-3">
        <div class="gallery-item">
            <div class="image"><a href="./image/v/7842028">
                    <img src="/static/images/7842028.jpg"></a>
            </div>
            <div class="text"></div>
        </div>
    </div>

    <div class="gallery-container h-3 w-1">
        <div class="gallery-item">
            <div class="image"><a href="./image/v/6155499">
                    <img src="/static/images/6155499.jpg"></a>
            </div>
            <div class="text"></div>
        </div>
    </div>

    <div class="gallery-container h-2 w-1">
        <div class="gallery-item">
            <div class="image"><a href="./image/v/6435601">
                    <img src="/static/images/6435601.jpg"></a>
            </div>
            <div class="text"></div>
        </div>
    </div>

</div>
<script src="/static/home.js"></script>

{% endblock %}