{% extends "gallery.html" %}

{% block title %}Portraits{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}


{% block extentiond %}

<div class="layout-gallery">

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/37414359483781">
          <img src="/static/images/37414359483781.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-4 w-3">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/64843636447608">
          <img src="/static/images/64843636447608.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/86760708474896">
          <img src="/static/images/86760708474896.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/901318310479581">
          <img src="/static/images/901318310479581.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

</div>

{% endblock %}