{% extends "gallery.html" %}

{% block title %}Portraits{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}


{% block extentiond %}
<div class="center">

    <div class="gallery">
        <div class="image image--vertical"><a href="./image/v/37414359483781">
          <img class="lazy-image" data-src="/static/images/37414359483781.jpg"/></a>
        </div>
        <div class="image image--big"><a href="./image/v/64843636447608">
          <img class="lazy-image" data-src="/static/images/64843636447608.jpg"/></a>
        </div>
        <div class="image image--vertical"><a href="./image/v/86760708474896">
          <img class="lazy-image" data-src="/static/images/86760708474896.jpg"></a>
        </div>
        <div class="image image--vertical"><a href="./image/v/901318310479581">
          <img class="lazy-image" data-src="/static/images/901318310479581.jpg"/></a>
        </div>
      
    </div>
</div>
<script src="/static/home.js"></script>

{% endblock %}