{% extends "gallery.html" %}

{% block title %}Portraits{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}


{% block extentiond %}

<div class="layout-gallery">

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/99991037259699">
          <img src="/static/images/99991037259699.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-2">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/18158968322237">
          <img src="/static/images/18158968322237.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/88972009564043">
          <img src="/static/images/88972009564043.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-2">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/46299221590019">
          <img src="/static/images/97852061158591.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container w-1 h-3">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/92936889293688">
          <img src="/static/images/92936889293688.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container w-1 h-3">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/43719198121586">
          <img src="/static/images/43719198121586.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/766672810207749">
          <img src="/static/images/766672810207749.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/60834201091292">
          <img src="/static/images/60834201091292.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

  <div class="gallery-container h-3 w-1">
    <div class="gallery-item">
      <div class="image"><a href="./image/v/46299221590019">
          <img src="/static/images/46299221590019.jpg"></a>
      </div>
      <div class="text"></div>
    </div>
  </div>

</div>

{% endblock %}